body
{
	font-family: sans-serif;
	padding: 0;
	margin:0;
	background: #bbb;
	overflow: hidden;
}
.Pagina
{
	margin: 0;
	position: absolute;
	height: 100vh;
	width: 800px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	box-shadow: 2px 5px 10px rgba(0,0,0,1);
}
.Nav
{
	display: flex;
	position: relative;
	width: 100%;
	height: 10vh;
	background: #000;
	color: #fff;
	z-index: 100;
}
.Texto
{
	left: 18px;
	transform: translateY(-54%);
	cursor: pointer;
}
.Link
{
	font-size: 40px;
	text-decoration: none;
	color: #fff;
}
.Link:hover
{
	color:#983399;
}
.Mostrar
{
	position: relative;
	width: 600px;
	top: 40px;
	left: 12.5%;
	height: 500px;
}
.Productos
{
	position: relative;
	background: #fff;
	border: 5px solid black;
	font-size: 32px;
	font-weight: 700;
	padding-left: 6px;
	padding-top: 1px;
	padding-bottom:  1px;
}
.CarritoPedido
{
	height: 100%;
	border: 5px solid black;
	border-top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.Boton
{
	position: relative;
	top: 110px;
	left: 52.7%;
	padding: 10px;
	border-radius: 0;
	background: #0f0;
	font-size: 16px;
	font-weight: 700;
	border: 4px solid black;
	cursor: pointer;
}
.Boton:hover
{
	background: #050;
	color: #fff;
}
.Mandar
{
	position: relative;
	padding: 10px;
	top: -50%;
	left: 50%;
	margin-top: 6px;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 0;
	border-radius: 16px;
	background: #0f0;
	font-size: 16px;
	font-weight: 700;
	border: 3px solid black;
	cursor: pointer;
}
.Mandar:hover
{
	background: #6f6;
}
.Mandar:focus
{
	outline: none;
}
.ListaCarrito
{
	position: relative;
	display: inline-block;
	font-weight: 700;
	font-size: 22px;
	height: 30px;
	left: 4px;
	width:472px;
}
.CaracTotal
{
	position: relative;
	display: inline-block;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: -30px;
}
.Total
{
	position: absolute;
	top: 530px;
}
.Auxiliar
{
	border-bottom: 2px solid #000;
}
.Mas
{
	position: relative;
	color: #0e0;
	font-size: 45px;
	top: 4px;
	left: 62px;
	cursor: pointer;
}
.Menos
{
	position: relative;
	color:red;
	top: 4px; 
	font-size: 45px;
	left: -27px;
	cursor: pointer;
}
.Menos:hover
{
	color: #a00;
}
.Mas:hover
{
	color: #0a0;
}
.AbrirCarrito
{
	position: absolute;
	right: 80px;
	font-size: 40px;
	top: 13px;
	cursor: pointer;
}
.LinkCompra
{
	position: relative;
	right: -16px;
	text-decoration: none;
	color: #fff;
}
.Nav__Carrito
{
	position: absolute;
	right: 30px;
	font-size: 40px;
	top: 18px;
	cursor: pointer;
}
.BotonDatos
{
	position: relative;
	top: 110px;
	left: 60%;
	padding: 10px;
	transform: translateX(-50%);
	border-radius: 0;
	background: #f00;
	font-size: 16px;
	font-weight: 700;
	border: 4px solid black;
	cursor: pointer;
}
.BotonDatos:hover
{
	color: #fff;
	background: #500;
}
.Formato
{
	position: absolute;
	height: 100vh;
	width: 784px;
	left: 50%;
	transform: translateX(-50%);
	background:#f000;
	top: -100%;
	transition: 1s;
}
.Verse
{
	top: 0;
}
.XFormato
{
	font-size: 40px;
	position: absolute;
	right: -4px;
	cursor: pointer;
	top: -4px;
}
.Formato__Hijo
{
	position: relative;
	display: inline-block;
	top: 14.3%;
	left:30%;
	transform: translateX(-50%); 
	background: #fff;
}
.TituloForm
{
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 40px;
}
.Input
{
	position: relative;
	left: 50%;
	font-size: 18px;
	transform: translateX(-50%); 
	width: 60%;
	height: 40px;
	margin-bottom: 40px;
	border-radius: 16px;
	border: 2px solid #000;
	outline: none;
	transition: all .5s;
	background: #eee;
	text-align: center;
}
.Input:focus
{
	width: 80%;
}
.Formato__Hijo
{
	transform: scale(1.2);
	box-shadow:0 0 26px rgba(0,0,0,1);
}
@media screen and (max-width:800px)
{
	.Pagina
	{
		width: 100vw;
	}
	.Mostrar
	{
		left: 12.5vw;
		width: 75vw;
}
	.ListaCarrito
	{
		width: 78%;
	}
	.BotonDatos
	{
		left: 350px;
	}
	.Boton
	{
		left: 290px;
	}
}
@media screen and (max-width:650px)
{
	.Mostrar
	{
		left: 0;
		width: 100vw;
	}
	.BotonDatos
	{
		left: 260px;
	}
	.Boton
	{
		left:200px;
	}
}
@media screen and (max-width:500px)
{
	.Mostrar
	{
		left: 0;
		width: 100vw;
	}
	.BotonDatos
	{
				top: 98px;
		left: 135px;
		transform: scale(.7);
	}
	.Boton
	{
		top: 98px;
		left:95px;
		transform: scale(.7);
	}
	.ListaCarrito
	{
		font-size: 16px;
		width:70%;
	}
	.Productos
	{
		font-size: 24px;
	}
	.CaracTotal
	{
		font-size: 32px;
	}
	.LinkCompra
	{
		font-size: 30px;
	}
	.AbrirCarrito
	{
		left: 140px;
	}
	.Link
	{
		font-size: 30px;
	}
}